<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board</title>
</head>
<body>
<h1>!게시판!</h1>
<section>
    <h2>유저의 정보</h2>
    <div th:text="${session.user}"></div>
    <div>
        <b>아이디:</b> <span th:text="${session.user.id}"></span>
    </div>
    <div>
        <b>닉네임:</b> <span th:text="${session.user.nickName}"></span>
    </div>
    <div>
        <b>가입일:</b> <span th:text="${session.user.registerDate}"></span>
    </div>
</section>





<form action="/user/logout">
    <button onclick="location.href = '/user/logout';">로그아웃</button>
</form>
</body>
</html>
<script>
    document.querySelector('button').onclick = () =>{
        location.href = '/user/logout';
    }
</script>







